.container.container-md.fixed-bottom.mb-3.pt-3.border-top.border-3
    ul.nav.justify-content-end
        li.nav-item
            a.nav-link.active(aria-current='page' href='#') Active
        li.nav-item
            a.nav-link(href='#') Link
        li.nav-item
            a.nav-link(href='#') Link
        li.nav-item
            a.nav-link.disabled Disabled