nav.navbar.navbar-dark.bg-primary.bg-opacity-75.sticky-top.rounded.mb-5
    div.container.container-md.justify-content-between
        div.ms-3
            img.wslogo.d-md-block.d-none(src="/img/wslogo.svg", alt="Workspot Logo")
        div.pe-sm-3
            h1.title Migration Utility
        div.me-3
            img.profile(src="/img/profile.svg", alt="Profile icon")
